<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="footer__logo" src="~/img/vet.svg" alt="Vet logo"/>
                <div class="social-services">
                    <a href="#">
                        <img class="social-services__icon" src="~/img/icons/facebook-logo.svg"/>
                    </a>
                    <a href="#">
                        <img class="social-services__icon" src="~/img/icons/instagram.svg"/>
                    </a>
                    <a href="#">
                        <img class="social-services__icon" src="~/img/icons/linkedin.svg"/>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="h h4 h__light">For Pet Owners</h3>
                <ul class="link-list link-list--light">
                    <li>
                        <a href="#">Pet Clinics near you</a>
                    </li>
                    <li>
                        <a href="#">Pet Health Guide</a>
                    </li>
                    <li>
                        <a href="#">Pet Clinics near you</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="h h4 h__light">For Vets</h3>
                <ul class="link-list link-list--light">
                    <li>
                        <a href="#">Work with us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="h h4 h__light">Others</h3>
                <ul class="link-list link-list--light">
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Actual</a>
                    </li>
                    <li>
                        <a href="#">For employee</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>