@using Microsoft.AspNetCore.Identity
@using PetClinic.Models.Clinic

@inject SignInManager<IdentityAppUser> _signInManager
@inject UserManager<IdentityAppUser> _userManager

@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-light" href="#">

        </a>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                <span style="margin-right:2px;">Hello, @_userManager.GetUserName(User)!</span>
            </a>
            <div class="dropdown-menu">
                <a class="d-block text-dark py-1 ml-3" asp-area="Identity" asp-page="/Account/Register">
                    Setup Two Factor Authentication
                </a>
                <form method="post" class="d-block text-dark py-1 ml-3" asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="btn btn-link">Log out</button>
                </form>
            </div>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}