.heading-main {
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
}

.heading-image {
    display: flex;
    align-items: center;

    img {
        width: 30px;
        margin-right: 10px;
    }
}

.heading-small {
    font-size: 1.8rem;
}


.h {
    text-transform: uppercase;
    font-weight: 300;

    &3 {
        font-size: 20px;
    }

    &4 {
        font-size: 20px;
        letter-spacing: 5px;
    }

    &__light {
        color: $color-white;
    }
}



