$primary-dark: #325DE9;
$primary-light: #548CF6;

html {
    scroll-behavior: smooth;
}

@import 'abstract/typography';

@import 'components/form';
@import 'components/cta';

@import 'sections/team';



.heading-main {
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
}

.service-image {
    display: block;
    width: 75px;
    margin: 0 auto;
}

.services-grid {
    a {
        text-decoration: none;
    }
}

.heading-small {
    font-size: 1.8rem;
}

.bg-dark {
    background-image: linear-gradient(258.56deg, $primary-light 31.66%, $primary-dark 80.67%) !important;
}

.navbar-logo {
    width: 2.5rem;
}
.btn-light {
    background-image: linear-gradient(258.56deg, $primary-light 31.66%, $primary-dark 80.67%) !important;
    border: 1px solid#fff;
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: #fff;
}

.navbar {
    .nav-link {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .nav-item {
        &.active {
            border-left: rgba(#fff, 0.2) 3px solid;
            border-bottom: rgba(#fff, 0.2) 3px solid;
        }
    }
}

.carousel-item {
    height: 38rem;
}


.carousel-image {
    background-size: cover;
    object-fit: cover;
    background-position: center;

    &__1 {
        background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.3), rgba($primary-light, 0.3)),
        url('../img/carousel/carousel-1.jpg');
    }

    &__2 {
        background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.3), rgba($primary-light, 0.3)),
        url('../img/carousel/carousel-2.jpg');
    }

    &__3 {
        background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.3), rgba($primary-light, 0.3)),
        url('../img/carousel/carousel-3.jpg');
        background-position: center;
    }

    &__4 {
        background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.3), rgba($primary-light, 0.3)),
            url('../img/carousel/carousel-4.jpg');
        background-position: center;
    }

    &__5 {
        background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.5), rgba($primary-light, 0.5)),
            url('../img/carousel/carousel-5.jpg');
        background-position: center;
    }

    &__6 {
        background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.4), rgba($primary-light, 0.4)),
            url('../img/carousel/carousel-6.jpg');
        background-position: center;
    }

    &__7 {
        background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.5), rgba($primary-light, 0.5)),
            url('../img/carousel/carousel-7.jpg');
        background-position: center;
    }
}

.carousel-image-2 {
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.carousel-image-3 {
    background-size: cover;
    object-fit: cover;
    background-position: center;
}


.location {
    background-image: linear-gradient(to right bottom, rgba($primary-dark, 0.15), rgba($primary-light, 0.15));
    background-position: center;
    padding: 100px 0;

    &-map.col-lg-6 {
        padding: 0;
    }


    &-logo {
        width: 50px;
    }

    &-contact {
        background-color: white;
        padding: 50px 60px;
        height: 645px;
    }
}


