@model IEnumerable<PetClinic.Models.Shop.Category> 


<a asp-controller="Category" asp-action="Create" class="cta-round right-top small bg-warning" data-toggle="tooltip" title="Book An Appointment">
    <img src="~/img/cta/plus.svg" alt="Add a new category"/>
</a>
<div class="container body pb-5">
    <div class="heading-image mb-3 mt-4">
        <h3 class="heading-main heading-small">Categories</h3>
    </div>
    <partial name="~/Views/Partials/_TempData.cshtml"/>
    <table id="categories_table" class="table">
        <thead>
        <tr class="table-row header blue">
            <th class="cell">Name</th>
            <th class="cell">Display Order</th>
            <th class="cell sorting_desc_disabled sorting_asc_disabled">&nbsp;</th>
            <th class="cell sorting_desc_disabled sorting_asc_disabled">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row">
                <td class="cell left" data-title="Name">
                    @item.Name
                </td>
                <td class="cell left" data-title="Display Order">
                    @item.DisplayOrder
                </td>
                <td class="cell" data-title="">
                    <span class="rotating-btn edit">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"></a>
                    </span>
                </td>
                <td class="cell" data-title="">
                    <span class="rotating-btn delete">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"></a>
                    </span>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#categories_table').DataTable();
        });
    </script>
}