@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account__card text-center">
    <img class="footer__logo" src="~/img/vet.svg" alt="Vet logo" />
    <h3 class="heading-main heading-small">Your request has been sent!</h3>
    <div>We will contact you as soon as possible!</div>
    <a asp-controller="Home" asp-action="Index">Go Back</a>
</div>