@{
    ViewData["Title"] = "Home Page";
}

<a href="#booking" class="cta-round right-bottom bg-success" data-toggle="tooltip" title="Book An Appointment">
    <img src="~/img/cta/schedule.svg" alt="Book an appointment"/>
</a>
<section id="showcase">
    <partial name="~/Views/Partials/_Carousel.cshtml"/>
</section>

<section id="services-grid" class="services-grid py-5">
    <div class="container text-center pt-5">
        <h1 class="heading-main mb-5">Our Services</h1>
        <div class="row mb-3">
            <div class="col-md-3 mb-3 text-center service-link">
                <a href="#">
                    <img class="service-image" src="~/img/services/cat.svg" alt="cat image"/>
                    <h3 class="heading-main heading-small">Cats</h3>
                    <p class="text-secondary">It is a long established fact that a reader will be distracted</p>
                </a>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <a href="#">
                    <img class="service-image" src="~/img/services/dog.svg" alt="dog image"/>
                    <h3 class="heading-main heading-small">Dogs</h3>
                    <p class="text-secondary">It is a long established fact that a reader will be distracted</p>
                </a>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <a href="#">
                    <img class="service-image" src="~/img/services/hamster.svg" alt="mouse image"/>
                    <h3 class="heading-main heading-small">Rodents</h3>
                    <p class="text-secondary">It is a long established fact that a reader will be distracted</p>
                </a>
            </div>
            <div class="col-md-3 mb-3 text-center">
                <a href="#">
                    <img class="service-image" src="~/img/services/iguana.svg" alt="iguana image"/>
                    <h3 class="heading-main heading-small">Exotic Animals</h3>
                    <p class="text-secondary">It is a long established fact that a reader will be distracted</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="team" class="team">
    <div class="team__header col py-5">
        <h2>Meet Our Team</h2>
    </div>
    <div class="container team__container">
        <!-- Swiper -->
        <div class="swiper teamSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card">
                        <img src="~/img/team/team-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">James Smith</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="~/img/team/team-5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">James Smith</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="~/img/team/team-4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">James Smith</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="~/img/team/team-6.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">James Smith</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="~/img/team/team-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">James Smith</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <img src="~/img/team/team-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">James Smith</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section id="location" class="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 location-map">
                <iframe width="100%" height="645px" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Bod%C3%B8%20Storgata%206&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>
            <div id="booking" class="col-lg-6 location-contact">
                <div class="heading-image mb-3">
                    <img src="~/img/vet.svg" alt="Petclinic logo"/>
                    <h3 class="heading-main heading-small">Book an appointment</h3>
                </div>
                <form class="form" autocomplete="off">
                    <div class="form__group">
                        <img class="form__icon" src="~/img/icons/user.svg" alt="user icon"/>
                        <input id="name" type="text" class="form__input" placeholder="Full Name" required/>
                        <label for="name" class=form__label>Full Name</label>
                    </div>
                    <div class="form__group">
                        <img class="form__icon" src="~/img/icons/at.svg" alt="user icon"/>
                        <input id="email" type="email" class="form__input" placeholder="Email" required/>
                        <label for="email" class=form__label>Email</label>
                    </div>
                    <div class="form__group">
                        <img class="form__icon" src="~/img/icons/phone.svg" alt="user icon"/>
                        <input id="phone" type="tel" class="form__input" placeholder="Phone Number" required/>
                        <label for="phone" class=form__label>Phone Number</label>
                    </div>
                    <div class="form__group">
                        <img class="form__icon" src="~/img/icons/information.svg" alt="user icon"/>
                        <textarea id="problem" rows=5 type="text" class="form__input" placeholder="Describe Your Problem" required></textarea>
                        <label for="problem" class=form__label>Describe Your Problem</label>
                    </div>
                    <button type="submit" class="btn btn-light btn-block text-uppercase">
                        <img style="width: 25px; margin-right: 4px;" src="~/img/icons/send.svg"/>Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
   

        var swiper = new Swiper(".teamSwiper",
            {
                slidesPerView: 1,
                spaceBetween: 10,
                slidesPerGroup: 1,
                grabCursor: true,
                breakpoints: {
                    // when window width is >= 480px
                    480: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                        slidesPerGroup: 2
                    },
                    // when window width is >= 640px
                    998: {
                        slidesPerView: 3,
                        spaceBetween: 30,
                        slidesPerGroup: 3
                    }
                },
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
    </script>
}