@model HomePageViewModel 
@{
    ViewData["Title"] = "Owner Page";
}

<div class="bg-textured py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="bg-light-grey standard-card py-2 px-3">
                    <div class="row px-2 py-3">
                        <div class="col-5">
                            <img src="~/img/icons/user.svg" class="w-100"/>
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="text-uppercase">Anna Larsen</div>
                            <div>12.09.1995</div>
                            <div>anna@email.com</div>
                        </div>
                    </div>
                </div>
                <div class="bg-light-grey standard-card mt-4 py-2 px-3">
                    <div class="row px-2 py-3">
                        <div class="col-5">
                            <img src="~/img/icons/user.svg" class="w-100" />
                        </div>
                        <div class="col-7 d-flex flex-column justify-content-center">
                            <div class="text-uppercase">Buddy</div>
                            <div class="text-uppercase">Dog</div>
                            <div>18.01.2020</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 pt-4 pt-lg-0 visit-list">
                <div class="bg-light-grey standard-card py-2 px-3 h-100">
                    <div class="visit-list__item p-3">
                        <h2>Visit Date: February 5, 2024</h2>
                        <p>Pet: Max</p>
                        <p>Vet: John Smith</p>
                        <p>Visit Date: February 5, 2024</p>
                        <p>Reason: Check-up</p>
                    </div>
                    <div class="visit-list__item p-3">
                        <h2>Visit Date: February 5, 2024</h2>
                        <p>Pet: Max</p>
                        <p>Vet: John Smith</p>
                        <p>Visit Date: February 5, 2024</p>
                        <p>Reason: Check-up</p>
                    </div>
                    <div class="visit-list__item p-3">
                        <h2>Visit Date: February 5, 2024</h2>
                        <p>Pet: Max</p>
                        <p>Vet: John Smith</p>
                        <p>Visit Date: February 5, 2024</p>
                        <p>Reason: Check-up</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
