@model Category 

<div class="container body" asp-ac>
    <div class="col-lg-6 location-contact">
        <div class="heading-image mb-3">
            <img src="~/img/vet.svg" alt="Petclinic logo"/>
            <h3 class="heading-main heading-small">Delete Category</h3>
        </div>
        <form class="form" autocomplete="off" method="post">
            <span class="text-danger d-block" asp-validation-for="Name"></span>
            <div class="form__group">
                <img class="form__icon" src="~/img/icons/apps.svg" alt="category icon"/>
                <input asp-for="Name" disabled type="text" class="form__input" placeholder="Category Name" required/>
                <label asp-for="Name" for="name" class=form__label>Category Name</label>
            </div>
            <span class="text-danger d-block" asp-validation-for="DisplayOrder"></span>
            <div class="form__group">
                <img class="form__icon" src="~/img/icons/list.svg" alt="user icon"/>
                <input asp-for="DisplayOrder" disabled type="number" class="form__input" placeholder="Display Order" />
                <label asp-for="DisplayOrder" class=form__label>Display Order</label>
            </div>
            <button asp-controller="Category" asp-action="Delete" asp-route-id="@Model.Id" type="submit" class="btn text-light bg-danger btn-block text-uppercase">
                <i class="bi bi-trash3-fill mr-1"></i>Delete
            </button>
            <a type="button" asp-controller="Category" asp-action="Index" class="btn bg-warning btn-block text-uppercase mt-4">
                <i class="bi bi-arrow-left mr-2"></i>Back To List
            </a>
        </form>
    </div>
</div>
