@model IEnumerable<PetClinic.Models.Shop.Category> 

<a asp-controller="Category" asp-action="Create" class="cta-round right-top small bg-warning" data-toggle="tooltip" title="Book An Appointment">
    <img src="~/img/cta/plus.svg" alt="Add a new category"/>
</a>
<div class="container body">
    <div class="heading-image mb-3 mt-4">
        <img src="~/img/vet.svg" alt="Petclinic logo"/>
        <h3 class="heading-main heading-small">Categories</h3>
    </div>
    <partial name="~/Views/Partials/_TempData.cshtml"/>
    <div class="table">
        <div class="table-row header blue">
            <div class="cell">
                Name
            </div>
            <div class="cell">
                Display Order
            </div>
            <div class="cell">
                &nbsp;
            </div>
            <div class="cell">
                &nbsp;
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="table-row">
                <div class="cell" data-title="Name">
                    @item.Name
                </div>
                <div class="cell" data-title="Display Order">
                    @item.DisplayOrder
                </div>
                <div class="cell" data-title="">
                    <span class="rotating-btn edit">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id"></a>
                    </span>
                </div>
                <div class="cell" data-title="">
                    <span class="rotating-btn delete">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"></a>
                    </span>
                </div>
            </div>
        }
    </div>
</div>