<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Petclinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/Swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>

<header>
    <partial name="~/Views/Partials/_Nav.cshtml"/>
</header>

<main class="account" role="main">
    <div class="account__card pb-3">
        @*<img class="footer__logo" src="~/img/vet.svg" alt="Vet logo"/>*@
        @RenderBody()
    </div>
</main>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/Swiper/swiper-bundle.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    $(document).ready(function() {
        $('ul.navbar-nav').find('a[href="' + location.pathname + '"]')
            .closest('li').addClass('active');
    });
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>