html {
  scroll-behavior: smooth; }

.heading-image {
  display: flex;
  align-items: center; }
  .heading-image img {
    width: 30px;
    margin-right: 10px; }

.form__group {
  position: relative; }
  .form__group:not(:last-child) {
    margin-bottom: 7px; }
.form__input {
  font-size: 15px;
  font-family: inherit;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-radius: 2px;
  background-color: rgba(50, 93, 233, 0.08);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #325DE9; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orangered; }
  .form__input::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
    text-transform: uppercase; }
.form__icon {
  width: 24px;
  position: absolute;
  top: 14px;
  left: 14px; }
.form__label {
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 7px;
  display: block;
  transition: all .3s;
  color: #777;
  text-transform: uppercase; }
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-45px); }

.booking {
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 100;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); }
  .booking img {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.up {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  width: 50px;
  height: 50px; }
  .up img {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.team {
  position: relative;
  background-image: url("../img/team/heading.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  z-index: -2; }
  .team::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.8), rgba(84, 140, 246, 0.8));
    z-index: -1; }
  .team h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 300; }

.heading-main {
  display: inline-block;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right bottom, #548CF6, #325DE9); }

.service-image {
  display: block;
  width: 75px;
  margin: 0 auto; }

.services-grid a {
  text-decoration: none; }

.heading-small {
  font-size: 1.8rem; }

.bg-dark {
  background-image: linear-gradient(258.56deg, #548CF6 31.66%, #325DE9 80.67%) !important; }

.navbar-logo {
  width: 2.5rem; }

.btn-light {
  background-image: linear-gradient(258.56deg, #548CF6 31.66%, #325DE9 80.67%) !important;
  border: 1px solid #fff;
  color: #fff; }
  .btn-light:hover {
    color: #fff; }

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #fff; }

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important; }
.navbar .nav-item.active {
  border-left: rgba(255, 255, 255, 0.2) 3px solid;
  border-bottom: rgba(255, 255, 255, 0.2) 3px solid; }

.carousel-item {
  height: 38rem; }

.carousel-image {
  background-size: cover;
  object-fit: cover;
  background-position: center; }
  .carousel-image__1 {
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.3), rgba(84, 140, 246, 0.3)), url("../img/carousel/carousel-1.jpg"); }
  .carousel-image__2 {
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.3), rgba(84, 140, 246, 0.3)), url("../img/carousel/carousel-2.jpg"); }
  .carousel-image__3 {
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.3), rgba(84, 140, 246, 0.3)), url("../img/carousel/carousel-3.jpg");
    background-position: center; }
  .carousel-image__4 {
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.3), rgba(84, 140, 246, 0.3)), url("../img/carousel/carousel-4.jpg");
    background-position: center; }
  .carousel-image__5 {
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.5), rgba(84, 140, 246, 0.5)), url("../img/carousel/carousel-5.jpg");
    background-position: center; }
  .carousel-image__6 {
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.4), rgba(84, 140, 246, 0.4)), url("../img/carousel/carousel-6.jpg");
    background-position: center; }
  .carousel-image__7 {
    background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.5), rgba(84, 140, 246, 0.5)), url("../img/carousel/carousel-7.jpg");
    background-position: center; }

.carousel-image-2 {
  background-size: cover;
  background-position: center;
  object-fit: cover; }

.carousel-image-3 {
  background-size: cover;
  object-fit: cover;
  background-position: center; }

.location {
  background-image: linear-gradient(to right bottom, rgba(50, 93, 233, 0.15), rgba(84, 140, 246, 0.15));
  background-position: center;
  padding: 100px 0; }
  .location-map.col-lg-6 {
    padding: 0; }
  .location-logo {
    width: 50px; }
  .location-contact {
    background-color: white;
    padding: 50px 60px;
    height: 645px; }

/*# sourceMappingURL=site.css.map */
