@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@model PetClinic.Models.Shop.ExternalLoginConfirmationViewModel

<div class="account__card text-center">
    <img class="footer__logo" src="~/img/vet.svg" alt="Vet logo"/>
    <h3 class="heading-main heading-small">Thank you for confirming your email</h3>
</div>