@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@model PetClinic.Models.Shop.RegisterViewModel

<div class="account__card account__card--register mt-5">
    <div class="d-flex align-items-end mb-4">
        <img style="width: 50px;" class="mr-2" src="~/img/vet.svg" alt="Vet logo"/>
        <h3 class="heading-main heading-small">Register</h3>
    </div>
    <form asp-action="Register" method="post" class="form" role="form" autocomplete="off">
        <span asp-validation-summary="all"></span>
        <span class="text-danger d-block" asp-validation-for="FirstName"></span>
        <span class="text-danger d-block" asp-validation-for="LastName"></span>
        <span class="text-danger d-block" asp-validation-for="Email"></span>
        <span class="text-danger d-block" asp-validation-for="PhoneNumber"></span>
        <span class="text-danger d-block" asp-validation-for="Password"></span>
        <span class="text-danger d-block" asp-validation-for="PasswordConfirm"></span>
        <div class="d-flex">
            <div class="form__group mr-2">
                <img class="form__icon" src="~/img/icons/user.svg" alt="user icon"/>
                <input asp-for="FirstName" id="first-name" type="text" class="form__input" placeholder="First Name" required/>
                <label for="email" class=form__label>First Name</label>
            </div>
            <div class="form__group">
                <img class="form__icon" src="~/img/icons/user.svg" alt="user icon"/>
                <input asp-for="LastName" id="last-name" type="text" class="form__input" placeholder="Last Name" required/>
                <label for="last-name" class=form__label>Last Name</label>
            </div>
        </div>
        <div class="d-flex">
            <div class="form__group mr-2">
                <img class="form__icon" src="~/img/icons/at.svg" alt="user icon"/>
                <input asp-for="Email" id="email" type="email" class="form__input" placeholder="Email" required/>
                <label for="email" class=form__label>Email</label>
            </div>
            <div class="form__group">
                <img class="form__icon" src="~/img/icons/phone.svg" alt="phone icon"/>
                <input asp-for="PhoneNumber" id="phone" type="tel" class="form__input" placeholder="Phone number" required/>
                <label for="phone" class=form__label>Phone Number</label>
            </div>
        </div>
        <div class="d-flex">
            <div class="form__group mr-2">
                <img class="form__icon" src="~/img/icons/padlock.svg" alt="user icon"/>
                <input asp-for="Password" id="password" type="password" class="form__input" placeholder="Password"/>
                <label for="password" class=form__label>Password</label>
            </div>
            <div class="form__group">
                <img class="form__icon" src="~/img/icons/padlock.svg" alt="user icon"/>
                <input asp-for="PasswordConfirm" id="password-repeat" type="password" class="form__input" placeholder="repeat Password"/>
                <label for="password-repeat" class=form__label>Repeat Password</label>
            </div>
        </div>
        <button type="submit" class="btn btn-light btn-block text-uppercase">
            Register
        </button>
    </form>
    <div class="d-flex align-items-center" style="color: #777;">
        <span>Already have an account? Please</span>
        <a class="btn btn-link px-1" asp-area="" asp-controller="Account" asp-action="Login">login</a>
        <span>here</span>
    </div>
</div>


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml"/>
}