.select {
    width: 100%;
    border: none;
    padding: 15px;
    background-color: rgba(50, 93, 233, 0.08);
    outline: none;
    font-family: inherit;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;

    &:focus {
        outline: none;
        box-shadow: 0 10px 20px rgba(#000, .1);
        border-bottom: 3px solid $primary-dark;
    }
}
