@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account__card">
    <img class="footer__logo" src="~/img/vet.svg" alt="Vet logo"/>
    <h3 class="heading-main heading-small">Thank you for confirming your email</h3>
</div>