@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@model RecoverPasswordViewModel

<div class="account__card account__card--register mt-5">
    <div class="d-flex align-items-end mb-4">
        <img style="width: 50px;" class="mr-2" src="~/img/vet.svg" alt="Vet logo"/>
        <h3 class="heading-main heading-small">Reset your password</h3>
    </div>
    <form asp-action="RecoverPassword" method="post" class="form" role="form" autocomplete="off">
        <span asp-validation-summary="all"></span>
        <span class="text-danger d-block" asp-validation-for="Password"></span>
        <span class="text-danger d-block" asp-validation-for="PasswordConfirm"></span>
        <input type="hidden" asp-for="Code"/>
        <input type="hidden" asp-for="Id"/>
        <div class="form__group" style="width: 100%">
            <img class="form__icon" src="~/img/icons/padlock.svg" alt="user icon"/>
            <input asp-for="Password" id="password" type="password" class="form__input" placeholder="Password"/>
            <label for="password" class=form__label>Password</label>
        </div>
        <div class="form__group" style="width: 100%">
            <img class="form__icon" src="~/img/icons/padlock.svg" alt="user icon"/>
            <input asp-for="PasswordConfirm" id="password-repeat" type="password" class="form__input" placeholder="repeat Password"/>
            <label for="password-repeat" class=form__label>Repeat Password</label>
        </div>
        <button type="submit" class="btn btn-light btn-block text-uppercase">
            Reset Password
        </button>
    </form>
    <div class="d-flex align-items-center" style="color: #777;">
        <span>Do not have an account? Please</span>
        <a class="btn btn-link px-1" asp-area="" asp-controller="Account" asp-action="Register">register here</a>
    </div>
</div>


@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml"/>
}