@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="account__card text-center">
    <img class="footer__logo" src="~/img/vet.svg"  alt="Vet logo" />
    <h3 class="heading-main d-block heading-small">@ViewData["Title"]</h3>
    <header class="d-flex justify-content-center">
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark text-uppercase border-bottom">Click here to Logout</button>
            </form>
        }
        else
        {
            <p class="text-center h6">You have successfully logged out of the application</p>
        }
    }
</header>
</div>