@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="account__card account__card--register mt-5">
    <div class="d-flex align-items-center justify-content-center mb-4">
        <img style="width: 50px;" class="mr-2" src="~/img/vet.svg" alt="Vet logo" />
        <h3 class="heading-main heading-small">@ViewData["Title"]</h3>
    </div>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="text-center">
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                <br /> <span class="d-block pt-3">Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a></span>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
</div>

